

<div class="p-grid " style="margin-top: 4em;">


    <div class="p-col-12 p-md-6 p-lg-4">

        <div class="box box-stretched">

        </div>
    </div>
    <div class="p-sm-12  p-md-12 p-lg-4 p-shadow-24">
        <div class="p-md-12 p-lg-12" style="text-align: center;">
            <img height="100%" width="40%"
                src="../../assets/default.png">
        </div>
        <form [formGroup]="loginForm" class="max-width-fit">
            <div class="p-fluid p-grid p-formgrid">

                <div class="p-field p-col-12 p-md-12">

                    <span class="p-float-label spaced">
                        <input pInputText type="email" formControlName="username" required  ng-hide="true"/>
                        <label for="float-input">Usuario</label>

                    </span>
                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-12">

                    <span class="p-float-label">
                        <input pInputText type="password" formControlName="pwd" required ng-hide="true" />
                        <label for="float-input">Contraseña</label>
                    </span>

                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-12">

                    <a href="/#/resetPassword">He olvidado mi contraseña</a>

                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-col-12 p-md-2"></div>
                <div class="p-col-12 p-md-8">
                    <button style="margin-bottom: 1em;" pButton type="button" label="Acceder"  (click)="onSubmit()"></button>
                </div>
            </div>

        </form>
    </div>

</div>