<app-header></app-header>
<div class="p-grid" style="margin-top: 5em;">
    <div class="p-col-12 p-md-6 p-lg-4">
        <div class="box box-stretched"></div>
    </div>
    <div class="p-col-9  p-md-12 p-lg-8">

        <form [formGroup]="userForm">
            <div class="p-fluid p-grid p-formgrid">

                <div class="p-field p-col-12 p-md-6">

                    <span class="p-float-label spaced">
                        <input pInputText type="text" formControlName="name" name="name" required />
                        <label for="float-input">Nombre</label>

                    </span>
                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">

                    <span class="p-float-label">
                        <input pInputText type="text" formControlName="surname" name="surname" required />
                        <label for="float-input">Apellidos</label>
                    </span>

                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">

                    <span class="p-float-label">
                        <input pInputText type="username" formControlName="username" name="username" required  />
                        <label for="float-input">Nombre de usuario</label>
                    </span>

                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">

                    <span class="p-float-label">
                        <input pInputText type="email" formControlName="email" name="email" required email />
                        <label for="float-input">Email</label>
                    </span>

                </div>
            </div>
            <span >Perfil del usurio</span>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">

                    <div *ngFor="let role of roles" class="p-field-checkbox">
                        <p-radioButton [inputId]="role" formControlName="roleSelected" [value]="role"></p-radioButton>
                        <label [for]="role">{{role}}</label>
                    </div>
                </div>
            </div>




            <div class="p-field p-col-12 p-md-6" style="text-align: center;">

                <button pButton type="submit" label="Guardar" (click)="onSubmit()"></button>
            </div>

        </form>
    </div>

</div>