<p-menubar *ngIf="status==true; else elseBlock" [model]="items"  styleClass="menucus" [style]="{'background-color': '#001c38'}">
    <ng-template  pTemplate="start">
       <a href="/"><img height="40" class="p-mr-2" src="../../assets/default-monochrome-white.svg" class="p-mr-2"></a> 
        
    </ng-template>
    <button type="button" pButton icon="pi pi-ellipsis-v"  (click)="menu.toggle($event)"></button>
        <p-menu #menu [popup]="true" [model]="items2"></p-menu>

</p-menubar>

<ng-template #elseBlock>
</ng-template>
