
::ng-deep .ui-menu .ui-menuitem .ui-menuitem-link:hover{
    background-color: red!important;
}
::ng-deep .ui-menu .ui-menuitem .ui-state-active{
    background-color: red!important;
}
::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text{
    color: white!important;
}
::ng-deep .menucus{
    background: #001c38 !important;
    color: white;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text:hover{
text-decoration: underline;
text-decoration-color: white;}

::ng-deep .p-menuitem-text{
    color: white;

}

::ng-deep .menucusbis{
    background: #001c38 !important;
    color: white;
    float: right;
}
