<app-header></app-header>

<p-dataView #dv [value]="users" filterBy="username" layout="list" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <p-header>
      <input type="search" pInputText placeholder="Buscar..." (input)="dv.filter($event.target.value)">
      
    </p-header>
  </ng-template>
  <ng-template let-user pTemplate="listItem">
    <div class="p-col-12" style="padding: 0.5em;">
      <div class="user-list-item">
        <div class="user-list-detail">
          <p-accordion>
            <p-accordionTab header="{{user.username}}">
              <div class="p-fluid p-grid p-formgrid">
                <div class="p-field p-col-12 p-md-12 p-lg-3">
                  <p><b>Nombre: </b> <span>{{user.name}}</span></p>
                </div>
                <div class="p-field p-col-12 p-md-12 p-lg-3">
                  <p><b>Apellido: </b> {{user.surname}}</p>
                </div>
                <div class="p-field p-col-12 p-md-12 p-lg-3">
                  <p><b>Usuario: </b> <span>{{user.username}}</span></p>

                </div>
                <div class="p-field p-col-12 p-md-12 p-lg-3">
                  <p><b>Email: </b> <span>{{user.email}}</span></p>

                </div>

                <div class="p-field p-col-12 p-md-12 p-lg-4">

                </div>
                <div class="p-field p-col-12 p-md-12 p-lg-4">
                  <button pButton type="button" (click)="updateUser(user)" label="Editar"
                  styleClass="p-button-sm"></button>
                </div>

           

              </div>



              <div class="p-fluid p-grid p-formgrid">



                <div class="p-field p-col-12 p-md-12 p-lg-4">

                  
                </div>
              </div>
            </p-accordionTab>

          </p-accordion>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>