<app-header></app-header>


<div class="card">
  <p-dataView #dv [value]="resources" [paginator]="true" [rows]="9" filterBy="id" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="list">
    <ng-template pTemplate="header">
      <p-tabView>
        <p-tabPanel header="Búsqueda simple">
          <div class="p-fluid p-grid p-formgrid" style="margin-top: 1em;">
            <div class="p-field p-col-12 p-md-12 p-lg-3">
              <input type="search" pInputText placeholder="Buscar por DNI/NIF" (input)="dv.filter($event.target.value)">
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Búsqueda avanzada">
          <div class="p-fluid p-grid p-formgrid" style="margin-top: 1em;">
            <div class="p-field p-col-12 p-md-12 p-lg-3">
              <p-multiSelect optionLabel="name" [(ngModel)]="techTarget" selectedItemsLabel="{0} tecnologías seleccionadas" defaultLabel="Tecnologías del recurso"
                [options]="technologies" [showToggleAll]="false" [virtualScroll]="true" [filter]="true" filterBy="name"
                [itemSize]="34">
                <ng-template let-technology pTemplate="item">
                  <div class="tech-item">
                    <div>{{technology.name}}</div>
                  </div>
                </ng-template>
              </p-multiSelect>

            </div>
            <div class="p-field p-col-12 p-md-12 p-lg-3">
              <p-multiSelect [options]="languages" selectedItemsLabel="{0} idiomas seleccionados" [(ngModel)]="langTarget" defaultLabel="Idiomas del recurso"
                optionLabel="name" [showToggleAll]="false" [virtualScroll]="true" [filter]="true" filterBy="name"
                [itemSize]="34">
                <ng-template let-language pTemplate="item">
                  <div class="tech-item">
                    <div>{{language.name}}</div>
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
            <div class="p-field p-col-12 p-md-3 p-lg-1">

              <button pButton type="submit" label="Buscar" (click)="search()"></button>
            </div>
          </div>
        </p-tabPanel>
        <p-divider></p-divider>
        <div class="p-fluid p-grid p-formgrid" style="margin-top: 1em;">
          <div class="p-field p-col-12 p-md-12 p-lg-3">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordenar por salario"
              (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
          </div>
        </div>
      </p-tabView>
    </ng-template>
    <ng-template let-resource pTemplate="listItem">
      <div class="p-col-12">
        <div class="resource-list-item">
          <div class="resource-list-detail">
            <div class="resource-name">
              <p-accordion>
                <p-accordionTab header="{{resource.name}} {{resource.surname}}">
                  <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-12 p-md-12 p-lg-3">
                      <p><b>Email :</b> <span>{{resource.email}}</span></p>
                    </div>
                    <div class="p-field p-col-12 p-md-12 p-lg-3">
                      <p><b>DNI/NIF :</b> {{resource.id}}</p>
                    </div>
                    <div class="p-field p-col-12 p-md-12 p-lg-3">
                      <p><b>Teléfono :</b> {{resource.phoneNumber}}</p>
                    </div>
                    <div class="p-field p-col-12 p-md-12 p-lg-3">
                      <p><b>Salario :</b> {{resource.salary}} €</p>
                    </div>
                  </div>
                  <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-12 p-md-12 p-lg-4">
                      <p><b>Perfil :</b> {{resource.profile}}</p>
                    </div>
                    <div class="p-field p-col-12 p-md-12 p-lg-4">
                      <p><b>Años de experiencia :</b> {{resource.yearsOfExperience}} </p>
                    </div>
                    <div class="p-field p-col-12 p-md-12 p-lg-4">
                      <p><b>Fecha de incorporación :</b> {{resource.incorporationDate}} </p>
                    </div>
                  </div>
                  <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-12 p-md-12 p-lg-12">
                      <b>Tecnnologías :</b> <span *ngFor="let technology of resource.technologies">
                        {{technology.name}}</span>
                    </div>
                  </div>

                  <div class="p-fluid p-grid p-formgrid" style="margin-top: 0.5em;">
                    <div class="p-field p-col-12 p-md-12 p-lg-12">
                      <b>Idiomas :</b> <span *ngFor="let language of resource.languages"> {{language.name}}</span>
                    </div>
                  </div>

                  <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-12 p-md-6 p-lg-12">
                      <b>CVs : </b>
                      <span *ngFor="let cv of resource.cvs">
                        <a style="text-decoration: underline; margin-right:3px" (click)="download(cv)">{{cv.name}} </a>
                      </span>
                    </div>

                    <div class="p-field p-col-12 p-md-6 p-lg-2">
                      <button pButton type="button" (click)="update(resource)" label="Editar"></button>
                    </div>

                    <div class="p-field p-col-12 p-md-6 p-lg-2">
                      <button pButton type="button" class="p-button-danger" (click)="confirm(resource)"
                        label="Eliminar"></button>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordion>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

<p-confirmDialog header="Eliminar recurso" icon="pi pi-exclamation-triangle"></p-confirmDialog>