
    .tech-name {
  
        font-weight: 700;
    }
    
   
    

    

    .tech-list-item {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .tech-list-detail {
        flex: 1 1 0;
    }
