<app-header></app-header>


<script src="../../../locale.js"></script>
<div class="p-grid" style="margin-top: 5em;">
    <div class="p-col-12 p-md-6 p-lg-4">
        <div class="box box-stretched"></div>
    </div>
    <div class="p-col-9  p-md-12 p-lg-8">

        <form [formGroup]="resourceForm">
            <div class="p-fluid p-grid p-formgrid">

                <div class="p-field p-col-12 p-md-6">

                    <span class="p-float-label spaced">
                        <input pInputText type="text" formControlName="name" name="name" required  />
                        <label for="float-input">Nombre</label>
                        
                    </span>
                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">

                    <span class="p-float-label">
                        <input pInputText type="text" formControlName="surname" name="surname" required />
                        <label for="float-input">Apellidos</label>
                    </span>

                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">

                    <span class="p-float-label">
                        <input pInputText type="email" formControlName="email" name="email" required email />
                        <label for="float-input">Email</label>
                    </span>

                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-float-label">
                        <input pInputText type="text" formControlName="identifier" name="identifier" required />
                        <label for="float-input">DNI/NIF</label>
                    </span>
                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-float-label">
                        <input pInputText type="text" formControlName="salary" name="salary" pattern="[0-9]*"
                            required />
                        <label for="float-input">Salario</label>
                    </span>

                </div>
            </div>

            

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-float-label">
                        <input pInputText type="text" formControlName="profile" name="profile"
                            required />
                        <label for="float-input">Perfil</label>
                    </span>

                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-float-label">
                        <input pInputText type="text" formControlName="yearsOfExperience" pattern="[0-9]{1,2}"
                            required />
                        <label for="float-input">Años de experiencia</label>
                    </span>

                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-float-label">
                        <input pInputText type="text" formControlName="phoneNumber" required />
                        <label for="float-input">Número de teléfono</label>
                    </span>

                </div>
            </div>
            
            

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">
                    <h5>Fecha de incorporación</h5>
                    <p-calendar locale="es" formControlName="incorporationDate" dateFormat="dd-mm-yy"
                        [readonlyInput]="true"></p-calendar>
                </div>
            </div>


            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">
                    <p-multiSelect  optionLabel="name"  defaultLabel="Tecnologías del recurso" selectedItemsLabel="{0} tecnologías seleccionadas" [options]="technologies"  formControlName="techSelect" [showToggleAll]="false"
                        [virtualScroll]="true" [filter]="true" filterBy="name" [itemSize]="34">
                        <ng-template let-technology pTemplate="item">
                            <div class="tech-item">
                                <div>{{technology.name}}</div>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-field p-col-12 p-md-6">
                    <p-multiSelect [options]="languages" defaultLabel="Idiomas del recurso" selectedItemsLabel="{0} idiomas seleccionados" optionLabel="name" formControlName="langSelect" [showToggleAll]="false"
                        [virtualScroll]="true" [filter]="true" filterBy="name"	 [itemSize]="34">
                        <ng-template let-language pTemplate="item">
                            <div class="tech-item">
                                <div>{{language.name}}</div>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
            </div>

            <div class="p-fluid p-grid p-formgrid ">
                <div class="p-field p-col-12 p-md-6">
                    <h5>Adjuntar CVs</h5>

                    <div class="form-group">
                        <input type="file" multiple="true"
                               id="file"
                               (change)="onUploadOwn($event.target.files)">
                    </div>

                 

                </div>
            </div>


            <div class="p-field p-col-12 p-md-6">
                <div class="p-mb-3">
                    <button pButton type="submit" label="Guardar" (click)="confirm()"></button>
                </div>
            </div>

        </form>
    </div>

</div>

<p-confirmDialog header="Insertar recurso " icon="pi pi-exclamation-triangle"></p-confirmDialog>
