<app-header></app-header>


<div class="p-fluid p-grid p-formgrid spaced">
  <div class="p-field p-col-12 p-md-12">
    <p-dataView #dv [value]="languages" filterBy="name" layout="list" [paginator]="true" [rows]="24">
      <ng-template pTemplate="header">
        <p-header>

          <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-4">
              <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                <i class="pi pi-search"></i>
                <input type="search" pInputText placeholder="Buscar..." (input)="dv.filter($event.target.value)">
              </span>
            </div>
            <div class="p-col-6 p-md-6 p-lg-4">
              <span class="p-float-label">
                <input pInputText type="text" style="max-width: 100%;" [(ngModel)]="lang" name="langInp" />
                <label for="float-input">Idioma</label>
              </span>
            </div>
            <div class="p-col-3 p-md-3 p-lg-1">
              <button  pButton  label="Añadir"   (click)="add()" styleClass="p-button-sm" ></button> 
            </div>

          </div>



        </p-header>
      </ng-template>
      <ng-template let-lang pTemplate="listItem">
        <div class="p-col-12  p-md-4 p-lg-4" style="padding: 0.5em; text-align: center; margin-top:1em; margin-bottom: 1em;">
          <div class="lang-list-item">
            <div class="lang-list-detail">
              <div class="p-grid">
                <div class="p-col-9 p-md-4 p-lg-6"><span>{{lang.name}}</span></div>
                <div class="p-col-2 p-md-4 p-lg-1">
                  <i class="pi pi-times" style="color: red" (click)="confirm(lang)" label="Eliminar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>

<p-confirmDialog header="Eliminar idioma" icon="pi pi-exclamation-triangle"></p-confirmDialog>
