
    .lang-name {
  
        font-weight: 700;
    }
    
    .p-float-label{
        display: inline;
    }
   
    

    

    .lang-list-item {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .lang-list-detail {
        flex: 1 1 0;
    }
