


<div *ngIf="token==null; else elseBlock" class="p-grid " style="margin-top: 4em;">


    <div class="p-col-12 p-md-6 p-lg-4">

        <div class="box box-stretched">

        </div>
    </div>
    <div class="p-sm-12  p-md-12 p-lg-4 p-shadow-24">
        <div class="p-md-12 p-lg-12" style="text-align: center;">
            <img height="100%" width="40%"
            src="../../assets/default.png">
        </div>
        <form [formGroup]="emailForm" class="max-width-fit">
            <div class="p-fluid p-grid p-formgrid">

                <div class="p-field p-col-12 p-md-12">

                    <span class="p-float-label spaced">
                        <input pInputText type="email" formControlName="email" required  ng-hide="true"/>
                        <label for="float-input">Email</label>

                    </span>
                </div>
            </div>



            <div class="p-fluid p-grid p-formgrid spaced">
                <div class="p-col-12 p-md-2"></div>
                <div class="p-col-12 p-md-8">
                    <button style="margin-bottom: 1em;" pButton type="button" label="Restablecer"  (click)="emailSend()"></button>
                </div>
            </div>

        </form>
    </div>

</div>


<ng-template #elseBlock>

    <div  class="p-grid " style="margin-top: 4em;">


        <div class="p-col-12 p-md-6 p-lg-4">
    
            <div class="box box-stretched">
    
            </div>
        </div>
        <div class="p-sm-12  p-md-12 p-lg-4 p-shadow-24">
            <div class="p-md-12 p-lg-12" style="text-align: center;">
                <img height="100%" width="40%"
                    src="https://pbs.twimg.com/profile_images/523096195674042368/BkHtpEFR_400x400.png">
            </div>
            <form [formGroup]="pwdForm" class="max-width-fit">
                <div class="p-fluid p-grid p-formgrid">
    
                    <div class="p-field p-col-12 p-md-12">
    
                        <span class="p-float-label spaced">
                            <input pInputText type="password" formControlName="pwd" required  ng-hide="true"/>
                            <label for="float-input">Contraseña</label>
    
                        </span>

                        <span class="p-float-label spaced" style="margin-top: 2em;">
                            <input pInputText type="password" formControlName="pwdbis" required  ng-hide="true"/>
                            <label for="float-input">Repetir contraseña</label>
    
                        </span>

                        <p style="color: red;"  *ngIf="notEqual==true">Las contraseñas no coinciden </p>
                    </div>
                </div>
    
    
    
                <div class="p-fluid p-grid p-formgrid spaced">
                    <div class="p-col-12 p-md-2"></div>
                    <div class="p-col-12 p-md-8">
                        <button style="margin-bottom: 1em;" pButton type="button" label="Restablecer"  (click)="pwdReset()"></button>
                    </div>
                </div>
    
            </form>
        </div>
    
    </div>
    
</ng-template>