.spaced{
    margin-bottom: 0.7em;
}

.box-form{
    border-style: inset outset;
   
}


img{
    border-radius: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}

.p-grid{
    margin: 0;
}

@media screen and (min-width: 992px){
 .box-form{
     margin-top: 13em;
     padding: 3em;
    }
}