<app-header></app-header>


<div *ngIf="loading; else elseBlock">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
        fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>

</div>
<ng-template #elseBlock>

    <div class="p-fluid p-grid p-formgrid ">
        <div class="p-field p-col-12 p-md-1"></div>
        <div class="p-field p-col-12 p-md-10" style="text-align: center; margin-top: 1em;">

            <p-card header="Distribución de recursos por tecnología"> 

                <p-chart #resourcesByTech type="doughnut" [data]="data" [options]="options"></p-chart>


            </p-card>

        </div>
    </div>


    <div class="p-fluid p-grid p-formgrid ">
        <div class="p-field p-col-12 p-md-6" style="text-align: center;">
            <p-card header="Evolución salarial por tecnología"> 
                <div class="p-fluid p-grid p-formgrid spaced">
                    <div class="p-field p-col-12 p-md-6">
                        <p-multiSelect  optionLabel="name"  selectedItemsLabel="{0} tecnologías seleccionadas" defaultLabel="Tecnologías" [(ngModel)]="selectedTechnologiesSalaryTech" [options]="technologies"   (onChange)="getMonetaryEvloution()"
                         [showToggleAll]="false"
                            [virtualScroll]="true" [filter]="true" filterBy="name" [itemSize]="34">
                            <ng-template let-technology pTemplate="item">
                                <div class="tech-item">
                                    <div>{{technology.name}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </div>
            <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
            </p-card>
        </div>

        <div class="p-field p-col-12 p-md-6" style="text-align: center;">
            <p-card header="Evolución salarial grupo de tecnologias"> 
                <div class="p-fluid p-grid p-formgrid spaced">
                    <div class="p-field p-col-12 p-md-6">
                        <p-multiSelect  optionLabel="name"  selectedItemsLabel="{0} tecnologías seleccionadas" defaultLabel="Tecnologías" [(ngModel)]="selectedGroupTechnologiesSalaryTech" [options]="technologies"   (onChange)="getMonetaryEvloutionByGroup()"
                         [showToggleAll]="false"
                            [virtualScroll]="true" [filter]="true" filterBy="name" [itemSize]="34">
                            <ng-template let-technology pTemplate="item">
                                <div class="tech-item">
                                    <div>{{technology.name}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </div>
            <p-chart type="bar" [data]="basicDataGroup" [options]="basicOptions"></p-chart>
            </p-card>
        </div>
    </div>


    <div class="p-fluid p-grid p-formgrid ">
        <div class="p-field p-col-12 p-md-6" style="text-align: center;">
            <p-card header="Media, mediana y moda salarial de tecnología"> 
                <div class="p-fluid p-grid p-formgrid spaced">
                    <div class="p-field p-col-12 p-md-6">
                        <p-multiSelect  optionLabel="name" [selectionLimit]="1" selectedItemsLabel="{0} tecnologías seleccionadas" defaultLabel="Tecnologías" [(ngModel)]="selectedTechnologiesStadistic" [options]="technologies"   (onChange)="getStadistic()"
                         [showToggleAll]="false"
                            [virtualScroll]="true" [filter]="true" filterBy="name" [itemSize]="34">
                            <ng-template let-technology pTemplate="item">
                                <div class="tech-item">
                                    <div>{{technology.name}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </div>
            <p-chart type="bar" [data]="basicStadistic" [options]="basicOptions"></p-chart>
            </p-card>
        </div>

        <div class="p-field p-col-12 p-md-6" style="text-align: center;">
            <p-card header="Media, mediana y moda salarial de grupo de tecnologías"> 
                <div class="p-fluid p-grid p-formgrid spaced">
                    <div class="p-field p-col-12 p-md-6">
                        <p-multiSelect  optionLabel="name" [selectionLimit]="3" selectedItemsLabel="{0} tecnologías seleccionadas" defaultLabel="Tecnologías" [(ngModel)]="selectedTechnologiesStadisticGroup" [options]="technologies"   (onChange)="getStadisticGroup()"
                         [showToggleAll]="false"
                            [virtualScroll]="true" [filter]="true" filterBy="name" [itemSize]="34">
                            <ng-template let-technology pTemplate="item">
                                <div class="tech-item">
                                    <div>{{technology.name}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </div>
            <p-chart type="bar" [data]="basicStadisticGroup" [options]="basicOptions"></p-chart>
            </p-card>
        </div>
    </div>
</ng-template>