
    .p-dropdown {
        width: 14rem;
        font-weight: normal;
    }
    
    .resource-name {
  
        font-weight: 700;
    }
    
    .p-grid{
        margin: 0;
    }
    
    .p-fluid .p-button {
        width: initial;
        float: right;
    }

    @media screen and (max-width: 576px){
        .p-fluid .p-button {
           
            float: initial;
        }
    }
    

    .resource-list-item {
        display: flex;
        align-items: center;
        width: 100%;
    }
        img {
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }
    
        .resource-list-detail {
            flex: 1 1 0;
        }
    
        .p-rating {
            margin: 0 0 .5rem 0;
        }
    
   
        .resource-list-action {
            display: flex;
            flex-direction: column;
        }
    
        .p-button {
            margin-bottom: .5rem;
        }
    
    
  
    


.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
	.resource-list-item {
		flex-direction: column;
		align-items: center;
    }
		img {
			width: 75%;
			margin: 2rem 0;
		}

		.resource-list-detail {
			text-align: center;
		}

		
		.resource-list-action {
			display: flex;
			flex-direction: column;
		}

		.resource-list-action {
			margin-top: 2rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

        :host ::ng-deep .custom-spinner .p-progress-spinner-circle {
            animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
        }
        
        @keyframes custom-progress-spinner-color {
            100%,
            0% {
                stroke: #16697A;
            }
            40% {
                stroke: #489FB5;
            }
            66% {
                stroke: #82C0CC;
            }
            80%,
            90% {
                stroke: #FFA62B;
            }
        }
        
        @keyframes custom-progress-spinner-dash {
            0% {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
            }
            50% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -35px;
            }
            100% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -124px;
            }
        }
        
	}
